.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute !important;
  top: 0;
  left: 0;
}

.user-interface {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  z-index: 10;
}

.user-interface button {
  pointer-events: auto;
  font-family: 'Bangers', cursive;
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #ff4136;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.user-interface button:hover {
  background-color: #ff725c;
  transform: scale(1.05);
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.start-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff4136;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.health-bars {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.health-bar {
  width: 45%;
}

.health-label {
  font-size: 1.2rem;
  margin-bottom: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.health-bar-outer {
  width: 100%;
  height: 20px;
  background-color: rgba(51, 51, 51, 0.7);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.health-bar-inner {
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.player-health {
  background-color: #2ecc71;
}

.opponent-health {
  background-color: #e74c3c;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  font-size: 1.5rem;
  margin-top: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.game-over {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.game-over h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ff4136;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .health-label {
    font-size: 1rem;
  }

  .score {
    font-size: 1.2rem;
  }

  .game-over h2 {
    font-size: 2rem;
  }

  .user-interface button {
    font-size: 1.2rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .health-label {
    font-size: 0.9rem;
  }

  .score {
    font-size: 1rem;
  }

  .game-over h2 {
    font-size: 1.5rem;
  }

  .user-interface button {
    font-size: 1rem;
    padding: 6px 12px;
  }
}
